nav {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 30px;
}

a {
  color: #61dafb;
  text-decoration: none;
  font-size: 16px;
}

nav > menu {
  list-style: none;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.home {
  padding: 0 30px;
}

.calc-section {
  margin: 30px 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.calculator {
  border: 2px solid #ccc;
  padding: 8px;
  width: 40%;
  border-radius: 8px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  gap: 5px;
  margin: 8px auto;
}

.top > input {
  width: 100%;
  padding: 8px;
  outline: none;
  background-color: rgb(250, 248, 245);
  border: 0;
  text-align: right;
}

.enter {
  font-weight: 600;
  font-size: 18px;
}

.result {
  font-weight: 800;
  font-size: 18px;
}

.button {
  width: 95%;
  margin-top: 15px;
  margin-bottom: 3px;
}

#button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  gap: 3px;
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #61dafb;
  padding: 25px 3px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

#lower-btn {
  width: 95%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: auto;
  gap: 3px;
}

.quote-section {
  margin: 0 30px;
}

footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #61dafb;
}
